<launch>

  <!-- TF -->
  <include file="$(find mission_manager)/now_hyo/tf.launch"/>

  <!-- Point Cloud Map -->
  <!--node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate $(find mission_manager)/now_hyo/20190507_soongsil_0.2.pcd" /-->
  <node pkg="map_file" type="points_map_loader" name="points_map_loader" args="noupdate $(find mission_manager)/now_hyo/20190420_kcity_0.2.pcd" />

  <!-- Vector Map -->
  <node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="$(find mission_manager)/now_hyo/0507_1/dtlane.csv $(find mission_manager)/now_hyo/0507_1/idx.csv $(find mission_manager)/now_hyo/0507_1/lane.csv $(find mission_manager)/now_hyo/0507_1/node.csv $(find mission_manager)/now_hyo/0507_1/point.csv" />

</launch>
